<DOCTYPE!>
<html>
	<head>
		<title>Polls</title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        {% include 'head.html'%}
	</head>


	<body>

        {% include 'nav.html' %}

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
        <p class="form-signin">{{ poll.question }}</p>

        <form action="{% url 'polls:vote' poll.id  %}" method="post" class="form-signin">
            {% csrf_token %}
            {% for choice in poll.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
            {% endfor %}
            <input type="submit" value="Vote" />
        </form>

    </body>

	<footer>

		<ul>
			<span>Team members</span>
			<li>AMER ALHOMAIDHI</li>
			<li>ABDULAULAH ALHUSIEN</li>
		</ul>

	</footer>

</html>
