@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans|Open+Sans+Condensed:300|Slabo+27px');
body,html{
	padding:0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;

}

ul{
	list-style-type: none;
	margin: 0;
}

body{
	background: url("ticks.png");
}
header{
	width: 100%;
	height: 90px;
	background: #fff;
	color: #000;
	position: fixed;
	top: 0;
	margin: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	text-align: center;
}
header > ul > a > li {
	color: #000;
	text-decoration: none;
}

header > ul >a >li{
	display: inline-block;
	margin: 5px;
	padding: 5px 20px 20px 20px ;
}


header > ul> a > li:hover{
	background: #000;
	color: #fff;
}


.container{
	width: 50%;
	display: inline-block;
	margin-top: 120px;
	clear: right;
	overflow: auto;
	padding: 5px 5px 5px 5px;
}

.content{
	background: rgb(247, 247, 247);
	padding: 15px;
}
.left{
	margin: 120px 5%;
	float: left;
	display: block;
	width: 14%;
	overflow: auto;
	

}

.continer-header,.continer-header > h2{
	background: rgb(220, 242, 232);
	margin: 0;
	padding: 3px;
}

.box{
	background: #fff;
	padding-bottom: 8px;
}


.logo{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.2em;
	display: block;
	width: 15%;
	margin: 0 auto;
	color: #000;
	text-decoration: none;
}

footer{
	background: url("tweed.png");
	width: 100%;
	height:80px;
	bottom: 0;
	position: fixed;
    left: 0;

}

