
<DOCTYPE!>
<htmlt class="htmlB">
	<head>
		<title>REGISTER</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href='css/bootstrap.min.css' />
		<link rel="stylesheet" type="text/css" href='css/style.css'/>
		<script src="js/jquery-2.min.js"></script>
		<script src="js/bootstrap.js"></script>
	</head>
	<body class="indexB">
		<div class="site-wrapper">

	    	<div class="site-wrapper-inner">

	    		<div class="cover-container">

	            	<div class="masthead clearfix">
	            		<div class="inner">
	              		<h3 class="masthead-brand">Poll System</h3>
	              		<nav class="nav nav-masthead">
	               		 	<a class="nav-link active" href="http://lacodeid.com">Home</a>
	                		<a class="nav-link" href="register.php">Register</a>
	                		<a class="nav-link" href="login.php">Login</a>
	              		</nav>
	            		</div>
	          		</div>

	          		<div class="inner cover">
			            <h1 class="cover-heading">POLL SYSTEM </h1>
			            <p class="lead">The Purpose of this website is to provide an easy and accurate way for the internet users to crate polls. Our goal is to make it easy for the people to decide and improve the democracy.</p>
			            <p class="lead">
			              <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
			            </p>
	          		</div>

		        	<div class="mastfoot">
			        	<div class="inner">
			              <p>SWE 363 
			              	KFUPM</a>.</p>
		            	</div>
		          	</div>

	        	</div>

	      	</div>

		</div>


	</body>

</html>










