
{% load bootstrap %}


<DOCTYPE!>
<htmlt>
	<head>
		<title>login</title>

		{% include 'includes/head.html' %}
	</head>


	<body>
		{% include 'includes/nav.html' %}

	


	<div class="container">	

		<div class="content">
				{% block content %}

			<form method="post" class="form-signin" action="">
				{% csrf_token %}

				{{ form|bootstrap }}


				<input  class="btn btn-success" type="submit" value="LOGIN" />

			</form>
                <p class="form-signin">If you are not a member, Register <a href="{% url 'accounts:register'%}">Here</a></p>
				{% endblock %}
		</div>


	</div>


			
	<footer>
							
		<ul>
			<span>Team members</span>
			<li>AMER ALHOMAIDHI</li>
			<li>ABDULAULAH ALHUSIEN</li>
		</ul>

	</footer>

	</body>

</html>






















