
<html>
{% include 'head.html' %}
{% include 'nav.html' %}
	
		<title>{{ request.user }} profile</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href={% static "css/pages.css"%}>
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>


	



		<div class="container">
			
		  <h2>SETTINGS</h2>
		  <ul class="nav nav-tabs" id="myTabs">
		    <li><a href="http://localhost:8080/pollSystem/profile.php#profile">profile </a></li>
		    <li><a href="http://localhost:8080/pollSystem/profile.#changePasswrod">Change Passwrod </a></li>
		    <li><a href="http://localhost:8080/pollSystem/profile.php#changeEmail">change Email </a></li>
		  </ul>

		  <div class="tab-content">
		    <div id="profile" class="tab-pane fade">
		        <h3>Account Info</h3>
		        <p>Username: {{ user.username }}</p><br>
                <p>Name: {{ user.first_name }} {{ user.last_name }}</p><br>
                <p>Email: {{ user.email }}</p><br>
		    </div>
		    <div id="changePasswrod" class="tab-pane fade">
		      <h3>Change password</h3>
		      <form method="POST" class="form-signin" action="{% url 'accounts:update-password' %}">
                  {% csrf_token %}
                  {{ password_change_form }}
		      	<br>
		      	<input class="btn btn-success" type="submit" value="update">
		      </form>
		    </div>
		    <div id="changeEmail" class="tab-pane fade">
		      <h3>change email address</h3>
		      <form method="POST" class="form-signin" action="{% url 'accounts:update-email' %}">
                  {% csrf_token %}
                  {{ update_email_form}}
                  <br>
                  <input class="btn btn-success" type="submit" value="update">
              </form>
            </div>
		  </div>
		</div>


			
	<footer>
							
		<ul>
			<span>Team members</span>
			<li>AMER ALHOMAIDHI</li>
			<li>ABDULAULAH ALHUSIEN</li>
		</ul>

	</footer>

	







<script type="text/javascript">
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
</html>