{% load bootstrap %}


<DOCTYPE!>
<htmlt>
	<head>
		<title>REGISTER</title>

		{% include 'includes/head.html' %}
	</head>


	<body>
		{% include 'includes/nav.html' %}

	


	<div class="container">
				
				

		<div class="content">
				{% block content %}

				<form method="POST" class="form-signin" action="{% url 'accounts:register' %}">
					
				    {% csrf_token %}

					{{ form|bootstrap }}


					<input  class="btn btn-success" type="submit" value="register" />

				        


				</form>

				{% endblock %}
			</div>


		</div>

	</div>

			
	<footer>
							
		<ul>
			<span>Team members</span>
			<li>AMER ALHOMAIDHI</li>
			<li>ABDULAULAH ALHUSIEN</li>
		</ul>

	</footer>

	</body>

</html>






















